/* --------------------------- Global  Styles --------------------------- */
:root {
  --red: #7d0712;
  --background: radial-gradient(#021f46, #152131);
  --blue:  #011a3a;
  --light-blue: #adcae3;
  --gray: #d9d7d7;
  --shadow-color: #2A363B;
  --button-red: linear-gradient(45deg, #3f0409, #7d0712);
  --button-hover: linear-gradient(45deg, #3F0409, #DC0015);
  --button-success: linear-gradient(45deg, #34433A, #269252);
}

body {
  background: var(--background);
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body a {
  text-decoration: none;
}

header {
  width: 100%;
  position: sticky;
}

.logo {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

/* Headers & Paragraphs 
------------------------------- */
.h2-landing-page {
  width: 75%;
  max-width: 140px;
  margin: 30px auto 20px auto;
  text-align: center;
  color: var(--gray);
  font-weight: 500;
  border: solid 2px var(--gray);
  border-radius: 5px 5px 5px 5px;
  font-size: 1.3rem;
}

p {
  width: 90%;
  font-size: 0.9rem;
  color: var(--gray);
  font-weight: 300;
  margin: 10px auto;
}

h2.choose {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  color:var(--gray);
}

.titles-links {
  color: var(--gray);
  text-decoration: none;
  font-size: 1rem;
}

.titles-h3 {
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  color: var(--gray);
}

.price-h3 {
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: var(--red);
  border-right: solid 1px var(--red);
  margin: 0px;
}

/* -- Special Img Edit -- */
.coming-soon-img {
  width: 90%;
  display: flex;
  margin: 20px auto 15px auto;
  min-width: 200px;
  max-width: 400px;
}

.coming-soon-vertical {
  display: flex;
  margin: 0px auto 40px auto;
}

/* --------------------------- Mobile  Styles --------------------------- */
@media only screen and (max-width:1094px){

/* No Show 
------------------------------- */
#search-desktop {
  display: none;
}
.search-button-desktop {
  display: none;
}
.search-bar-form-desktop {
  display: none;
}
#carousel-2 {
  display: none;
}
.buy-page-boxes-p {
  display: none;
}
.create-account-image {
  display: none;
}
.profile-page-image {
  display: none;
}

/* Navigation Menu
------------------------------- */
nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.ctr-panel {
  display: none;
}

.ctr-panel-2 {
  display: flex;
  background: var(--gray);
  justify-content: left;
  padding-left: 10px;
  padding-top: 15px;
  width: 75%;
  min-width: 230px;
  border-top: solid 2px var(--red);
  border-right: solid 2px var(--red);
  border-left: solid 2px var(--red);
  border-radius: 15px 15px 0px 0px;
  margin-top: 10px;
}

.prof-pic-2 {
  margin-right: 10px;
  border: solid 2px var(--red);
  border-radius: 50%;
  width: 43px;
  height: 43px;
}

.prof-name-2 {
  width: 100%;
  min-width: 80px;
  background: white;
  margin: 10px 10px 10px 0px;
  border-radius: 50px 50px 50px 50px;
  border: solid 1px var(--red);
  font-size: 0.8rem;
  color: var(--red);
  text-align: center;
}

nav {
  position: absolute;
  z-index: 100;
  width: 80%;
  min-width: 150px;
  max-width: 320px;
  animation-name: scroll-in;
  animation-duration: 450ms;
  animation-timing-function: ease-out;
}

nav a {
  font-size: 1rem;
  font-weight: 450;
  text-decoration: none;
  color:  var(--red);
}

nav ul {
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 20px;
}

nav li {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 10px;
  height: 35px;
  width: 80%;
  min-width: 230px;
  list-style: none;
  align-items: center;
  background: var(--gray);
  border-right: solid 2px var(--red);
  border-left: solid 2px var(--red);
}

.set {
  border-bottom: solid 2px var(--red);
  border-radius: 0px 0px 15px 15px;
}

.ham {
  font-size: 22px;
  border-radius: 100%;
  border: solid 1px white;
  padding: 7px 10px;
  color: #fff;
  background-color:  var(--red);
  cursor: pointer;
  margin-left: 10px;
  font-family: hidden;
}  

.current {
  text-decoration: none;
  font-weight: 750;
}

.search-bar-form {
  position: absolute;
  right: 60px;
  top: 220px;
}

.search-bar-form input {
  border-radius: 10px;
}

.search-button {
  font-size: 22px;
  border-radius: 100%;
  border: solid 1px white;
  padding: 7px 10px;
  color: #fff;
  background-color:  var(--red);
  cursor: pointer;
  font-family: hidden;
}

.cart {
  position: absolute;
  right: 10px;
  top: 220px;
}

#counter{
  border: 1px solid var(--red);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: white;
  position: absolute;
  top: 210px;
  right: 0px;
  text-align: center;
  font-weight: 600;
  z-index: 1;
}


/* #counter2{
  border: 1px solid var(--red);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: white;
  position: absolute;
  top: 207px;
  right: 6px;
  text-align: center;
  font-weight: 600;
  z-index: 1;
} */


/*  Carousel 
------------------------------- */
#carousel {
  overflow: hidden;
}

#carousel figure {
  position: relative;
  z-index: -1;
  width: 500%;
  margin: 0;
  left: 0;
  animation-name: carousel;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#carousel figure img {
  width: 20%;
  float: left;
}


/*  Landing page game 
------------------------------- */
.landing-page-game-img {
  width: 90%;
  display: flex;
  margin: 20px auto 15px auto;
  min-width: 200px;
  max-width: 500px;
}

.landing-page-game-tit {
  width: 75%;
  max-width: 350px;
  margin: 10px auto 20px auto;
  text-align: center;
  color: #d9d7d7;
  font-weight: 500;
  border-bottom: solid 2px #d9d7d7;
  font-size: 0.9rem;
}

/*  Buy Page Boxes
------------------------------- */
.img-buy-1 { 
  width: 90%;
  display: flex;
  margin: 10px auto 0px auto;
  min-width: 200px;
  max-width: 400px;
}

.price-fav {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  min-width: 200px;
  max-width: 400px;
  align-items: center;
  background-color: white;
  border: solid 1px var(--red);
  margin: 0px auto 15px auto;
  height: 44px;
}


/* Grid Buy Section 
------------------------------- */
.grid {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 3px;
  grid-template-rows: 1fr auto;
  width: 90%;
  text-align: center;
  background: var(--gray);
  margin: 25px auto 30px auto;
  border-radius: 10px 10px 10px 10px;
}

.h1-title {
  grid-column: 1 / 3;
  grid-row: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--red);
  border-bottom: solid 1px;
}

.img-buy-2 {
  grid-column: 1 / 3;
  grid-row: 2;
  width: 90%;
  margin: 0px auto 0px auto;
}

.h2-platform-select {
  grid-column: 1;
  grid-row: 3;
  font-size: 0.8rem;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  color: var(--red);
  padding-top: 7px;
  padding-left: 5px;
}

.checkbox {
  grid-column: 1;
  grid-row: 4;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: repeat(3, 1fr);
  color: var(--red);
  font-size: 0.8rem;
}

.pc {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
}

.playstation {
  grid-column: 2;
  grid-row: 1;
  text-align: left;
}

.xbox {
  grid-column: 2;
  grid-row: 3;
  text-align: left;
}

.h2-description {
  grid-column: 2;
  grid-row: 3 / 10;
  width: 90%;
  color: var(--blue);
  font-size: 0.9rem;
  border-left: solid 1px var(--blue);
}

.p-description {
  grid-column: 2;
  grid-row: 3 / 9;
  width: 85%;
  color: var(--blue);
  font-size: 0.8rem;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 30px;
}

.h3-on-sale-by {
  grid-column: 1;
  grid-row: 5;
  color: var(--red);
  font-weight: 400;
  font-size: 0.8rem;
  padding-left: 5px;
}

.h2-price{
  grid-column: 1;
  grid-row: 7;
  color:var(--red);
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0px;
}  

/* Grid-Payment 
------------------------------- */
.payment-top-part {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  gap: 3px;
  grid-template-rows: repeat (3, 1fr);
  width: 90%;
  background: var(--gray);
  margin: 0px auto 30px auto;
  /* border-radius: 10px 10px 0px 0px; */
  margin-bottom: 0px;
}

.cart-h1 {
    width: 90%;
    border-radius: 10px 10px 0px 0px;
    margin: 40px auto 0px auto;
    min-width: 50px;
    text-align: center;
    padding: 10px 0px;
    border-bottom: solid 2px var(--red);
    color: var(--blue);
    background-color: var(--gray);
    font-size: 1.4rem;
}

.h1-title-p {
  grid-column: 1 / 5;
  grid-row: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--red);
  border-bottom: solid 1px;
  text-align: center;
}

.img-buy-2-p {
  grid-column: 1 / 5;
  grid-row: 2;
  width: 90%;
  margin: 0px auto 0px auto;
}

.h2-sellers-info {
  grid-column: 1 / 5;
  grid-row: 3;
  color: var(--red);
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 3px;
}

.p-sellers-info {
  display: grid;
  grid-column: 2/4;
  grid-row: 4;
  width: 100%;
  min-width: 100px;
  max-width: 200px;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  margin: 0px auto;
  grid-gap: 0px;
  padding-bottom: 20px;
  border-bottom: solid 2px var(--blue);
}

.p-pay {
  grid-column: 1 / 3;
  color: var(--blue);
  font-size: 0.6rem;
  font-weight: 400;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
}

.p-pay span{
  font-size: 0.6rem;
  font-weight: 500;
  color: var(--red);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.payment-main-part {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 5px;
  grid-template-rows: 5% 95%;
  width: 90%;
  background: var(--gray);
  margin: 0px auto 30px auto;
  border-radius: 0px 0px 10px 10px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.h2-pay-ship {
  grid-column: 1 / 2;
  grid-row: 1;
  margin: 10px auto;
  min-width: 25px;
  max-width: 300px;
  color: var(--blue);
  font-size: 0.8rem;
  padding-left: 25px;
}

.form-payment {
  grid-column: 1 / 3;
  grid-row: 2;
  display: grid;
  width: 90%;
  min-width: 100px;
  max-width: 400px;
  text-align: left;
  background-color: var(--light-blue);
  margin: 0px auto 10px auto;
  padding-bottom: 10px;
  border: solid 1px #707070;
}

.form-payment label {
  color: var(--blue);
  padding-left: 15px;
  font-size: 0.7rem;
}

.form-input {
  display: block;
  box-shadow: 0px 0px 2px #707070;
  margin: 0px auto 0px auto;
  width: 90%;
  border: solid 1px #707070;
  border-radius: 3px;
}

.cvv {
  display: block;
  box-shadow: 0px 0px 2px #707070;
  margin-left: 15px;
  width: 20%;
  border: solid 1px #707070;
  border-radius: 3px;
}

.radio-button {
  margin-left: 15px;
}

.card-png {
  width: 10%;
  min-width: 30px;
  max-width: 40px;
}

.h3-price-p {
  grid-column: 1;
  grid-row: 11;
  color:var(--red);
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0px;
  text-align: center;
}

.shopping-checkout-container {
  margin: 5px auto;
  border-bottom: 1px solid var(--blue);
}


.shopping-checkout-h1 {
  font-size: 1rem;
  color: var(--red);
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
}

.shopping-checkout-img {
  display: block;
  width: 60%;
  align-content: center;
  margin: 0px auto;
}

.shopping-checkout-h4 {
  width: 50%;
  margin: 0px auto 20px auto;
  color: var(--red);
  text-align: center;
}

.total-amount {
  font-size: 1.1rem;
  margin: 5px auto;
}

#amountSum {
  font-size: 1.5rem;
  font-weight: 750;
  color: var(--red);
}

#emptyCart {
  color: var(--red);
  text-align: center;
}

/* Footer
------------------------------- */
footer {
  width: 90%;
  margin: 10px auto 0px auto;
  text-align: center;
  }

footer ul {
  border-top: solid var(--gray);
  border-width: thin;
  margin-top: 2px;
}

footer li { 
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
  
}

footer a {
  text-decoration: none;
  color: var(--gray);
  font-size: 0.7rem;
}

.social-media {
  display: flex;
  width: 20%;
  min-width: 100px;
  max-width: 100px;
  margin: 4px auto;
  justify-content: space-between;
}

}
/* ----------------------------------------------*/

/* --------------------------- Tablet Styles --------------------------- 
@media only screen and (min-width:481px) and (max-width:768px) {


}
*/

/* --------------------------- Desktop Styles --------------------------- */
@media only screen and (min-width:1095px) {
/* No Show
------------------------------- */
.search-bar {
  display: none;
}
.ctr-panel-2 {
  display: none;
}
.search-mobile {
  display: none;
}
#hamburger-menu {
  display: none;
}
.set {
  display: none;
}
.ham {
  display: none;
}

body {
  width: 70%;
  margin: 0px auto;
  background: var(--background);
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body a {
  text-decoration: none;
}

p {
  width: 90%;
  font-size: 1rem;
  color: var(--gray);
  font-weight: 300;
  margin: 10px auto;
}

/*  Navigation & Control Panel 
------------------------------- */
nav {
  display: block;
  width: 100%;
  min-width: 900px;
  max-width: 1700px;
  background-color: var(--gray);
  border-radius: 50px 50px 50px 50px;
  margin: 0 auto 10px auto;  
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  font-size: 0.9rem;
}

nav li:hover {
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: var(--red);
  padding-right: 30px;
  font-family: 'Montserrat', sans-serif;
}

#search-desktop {
  background: white;
  border-radius: 50px;
  border-width: thin;
  font-size: 0.95rem;
  font-style: italic;
  padding-left: 10px;
  padding-bottom: 2px;
  margin: 3px 0px 3px auto;  
  width: 200px;
  text-align: left;
  box-shadow: inset 0px 0px 3px;
}

.search-button-desktop {
  font-size: 15px;
  border-radius: 100%;
  border: solid 1px white;
  padding: 4px 5px;
  color: #fff;
  background-color:  var(--red);
  cursor: pointer;
  font-family: hidden;
}

.current {
  text-decoration: underline;
  font-weight: bold;
}

.ctr-panel {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  right: 55px;
}

.profile-name {
  width: 100%;
  min-width: 80px;
  max-width: 140px;
  background: white;
  margin: auto 10px;
  border-radius: 50px 50px 50px 50px;
  border: solid 1px var(--gray);
  font-size: 0.8rem;
  color: var(--red);
  text-align: center;
}

.prof-pic {
  margin-right: 5px;
  border: solid 1px white;
  border-radius: 100%

}

.message-pic {
  margin-right: 5px;
  cursor: pointer;
}

.cart {
  position: absolute;
  top: 220px;
  right: 0px;
  margin-right: 5px;
  padding-left: 5px; 
}

#counter{
  border: 1px solid var(--red);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: white;
  position: absolute;
  top: 210px;
  right: 0px;
  text-align: center;
  font-weight: 600;
  z-index: 1;
}

#messages {
  display: none;
}

#messages:hover ~ .message-info {
  display: block;
}

.message-info {
  display: none;
  position: absolute;
  top: 200px;
  right: 50px;
  min-width: 80px;
  max-width: 140px;
  background: white;
  margin: auto;
  border-radius: 50px 50px 50px 50px;
  border: solid 1px var(--gray);
  font-size: 0.8rem;
  color: var(--red);
  text-align: center;
}

/*  Landing Page Game
------------------------------- */
.landing-page-game {
  width: 100%;
  margin: 10px auto 80px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: solid thin var(--gray);
  padding-bottom: 40px;
}

.landing-page-game-img {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: center;
  text-align: center;
  min-width: 300px;
  max-width: 600px;
}

.landing-page-game-des {
  grid-column: 1/2;
  grid-row: 1;
}

.landing-page-game-tit {
  grid-column: 1/2;
  width: 75%;
  max-width: 350px;
  margin: 10px auto 20px auto;
  text-align: center;
  color: #d9d7d7;
  font-weight: 500;
  border-bottom: solid 2px #d9d7d7;
  font-size: 1.2rem;
}

.coming-soon-games {
  display: flex;
  width: 100%;
  margin: 10px auto 80px auto;
  justify-content: center;
}

/*  Carousel 
------------------------------- */
.carousel-mix {
  display: flex;
  margin-bottom: 80px;
  border-bottom: solid thin var(--gray);
  padding-bottom: 40px;
}

#carousel {
  width: 50%;
  overflow: hidden;
}

#carousel figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation-name: carousel;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#carousel figure img {
  width: 20%;
  float: left;
}

#carousel-2 {
  width: 50%;
  overflow: hidden;
  margin-left: 20px;
}

#carousel-2 figure {
  position: relative;
  display: block;
  width: 500%;
  margin: 0 auto;
  left: 0;
  animation-name: carousel;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.carousel-2-h2 {
  width: 80%;
  font-size: 1.2rem;
  margin: 0px 0px 0px 30px;
  text-decoration: underline;
  color: var(--gray);
}

.carousel-2-p {
  width: 90%;
  font-size: 1rem;
  display: block;
}

.carousel-2-pack {
  display: flex;
}


/* Buy Page Boxes 
------------------------------- */
.img-buy-1 { 
  width: 90%;
  display: flex;
  min-width: 200px;
  max-width: 400px;
}

.price-fav {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  min-width: 200px;
  max-width: 400px;
  align-items: center;
  background-color: white;
  border: solid 1px var(--red);
  height: 44px;
}

.buy-page-boxes {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  border-bottom: solid 1px var(--gray);
  padding-bottom: 30px;
  min-width: 790px;
}

.buy-page-boxes-p {
  width: 90%;
  grid-column: 2;
  font-size: 1rem;
  margin-top: 0px;
}

.game-box {
  width: 100%;
  min-width: 350px;
}

.titles-h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

/* Grid Buy Section
------------------------------- */
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto ;
  gap: 3px;
  width: 89%;
  min-width: 800px;
  text-align: center;
  background: var(--gray);
  margin: 25px auto 30px auto;
  border-radius: 10px 10px 10px 10px;
}

.h1-title {
  grid-column: 2;
  grid-row: 1;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--red);
  text-decoration: underline;
  margin-bottom: 0px;
}

.img-buy-2 {
  grid-column: 1;
  grid-row: 1/3;
  width: 100%;
  margin: 0px auto 0px auto;
  border-radius: 10px 0px 0px 0px;
}

.h2-platform-select {
  grid-column: 1;
  grid-row: 3;
  font-size: 0.9rem;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  color: var(--red);
  text-align: center;
  margin-bottom: 5px;
  padding-top: 10px;
}

.checkbox {
  grid-column: 1;
  grid-row: 4;
  display: grid;
  grid-template-columns: 25% 70% 5%;
  grid-template-rows: auto;
  color: var(--red);
  font-size: 0.9rem;
}

.pc {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
}

.playstation {
  grid-column: 2;
  grid-row: 1;
  text-align: left;
}

.xbox {
  grid-column: 2;
  grid-row: 3;
  text-align: left;
}

.h2-description {
  display: none;
}

.p-description {
  grid-column: 2;
  grid-row: 2/5;
  width: 85%;
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
}

.h3-on-sale-by {
  grid-column: 1;
  grid-row: 5;
  color: var(--red);
  font-weight: 400;
  font-size: 1rem;
}

.h2-price{
  grid-column: 2;
  grid-row: 6;
  color:var(--red);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0px;
}  


/* -- Grid-Payment 
------------------------------- */
.payment-page {
  display: grid;
  grid-template-columns: 50% 50%;
  /* gap: 3px; */
  width: 90%;
  min-width: 700px;
  text-align: center;
  background: var(--gray);
  margin: 25px auto 30px auto;
  border-radius: 10px 10px 10px 10px;
}

.payment-top-part {
  /* grid-column: 1;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; */
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 3px;
  width: 50%;
  min-width: 400px;
  text-align: center;
  margin: 25px auto 30px auto;
  border-radius: 10px 10px 10px 10px;
}

.cart-h1 {
  display:none;
  width: 90%;
  border-radius: 10px 10px 0px 0px;
  margin: 40px auto 0px auto;
  min-width: 50px;
  text-align: center;
  padding: 10px 0px;
  border-bottom: solid 2px var(--red);
  color: var(--blue);
  background-color: var(--gray);
  font-size: 1.4rem;
}

/* .h1-title-p {
  grid-column: 1 / 3;
  grid-row: 3;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--red);
  margin-top: 0px;
}

.img-buy-2-p {
  grid-column: 1 / 3;
  grid-row: 1/3;
  width: 100%;
  margin: 0px auto 0px auto;
}

.h2-sellers-info {
  grid-column: 1 / 3;
  grid-row: 4;
  color: var(--red);
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 3px;
}

.p-sellers-info {
  display: grid;
  grid-column: 1;
  grid-row: 5;
  width: 100%;
  min-width: 100px;
  max-width: 250px;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  margin: 0px auto;
  grid-gap: 0px;
  padding-bottom: 20px;
} */

/* .p-pay {
  grid-column: 1 / 3;
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
} */

/* .p-pay span{
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--red);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
} */

.payment-main-part {
  grid-column: 2;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 5px;
  grid-template-rows: 5% 95%;
  width: 90%;
  background: var(--gray);
  margin: 0px auto 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: solid var(--blue)
}

.h2-pay-ship {
  grid-column: 1 / 2;
  grid-row: 1;
  width: 90%;
  min-width: 25px;
  max-width: 300px;
  color: var(--blue);
  font-size: 0.8rem;
  padding-left: 25px;
}

.form-payment {
  grid-column: 1 / 3;
  grid-row: 2;
  display: grid;
  width: 90%;
  min-width: 100px;
  max-width: 400px;
  max-height: 600px;
  text-align: left;
  background-color: var(--light-blue);
  margin: 0px auto 10px auto;
  padding-bottom: 10px;
  border: solid 1px #707070;
}

.form-payment label {
  color: var(--blue);
  padding-left: 15px;
  font-size: 0.7rem;
}

.form-input {
  display: block;
  box-shadow: 0px 0px 2px #707070;
  margin: 0px auto 0px auto;
  width: 90%;
  border: solid 1px #707070;
  border-radius: 3px;
}

.cvv {
  display: block;
  box-shadow: 0px 0px 2px #707070;
  margin-left: 15px;
  width: 20%;
  border: solid 1px #707070;
  border-radius: 3px;
}

.radio-button {
  margin-left: 15px;
}

.card-png {
  width: 10%;
  min-width: 30px;
  max-width: 40px;
}

.h3-price-p {
  grid-column: 1;
  grid-row: 11;
  color:var(--red);
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0px;
  text-align: center;
}


.shopping-checkout-container {
  margin: 5px auto;
  border-bottom: 1px solid var(--blue);
}


.shopping-checkout-h1 {
  font-size: 1rem;
  color: var(--red);
  text-decoration: underline;
  margin-bottom: 10px;
}

.shopping-checkout-img {
  width: 60%;
  margin: 0px auto;
}

.shopping-checkout-h4 {
  width: 50%;
  margin: 0px auto 10px auto;
  color: var(--red);
}

.total-amount {
  font-size: 1.1rem;
  margin: 5px auto;
}

#amountSum {
  font-size: 1.5rem;
  font-weight: 750;
  color: var(--red);
}

#emptyCart {
  color: var(--red);
  text-align: center;
  margin: auto auto;
}



/*  Footer 
------------------------------- */
footer {
  width: 100%;
  margin: 10px auto 0px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-top: solid 1px var(--gray);
  }

footer ul {
  margin-top: 2px;
  padding-left: 0px;
}

footer li { 
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: var(--gray);
  font-size: 0.7rem;
}

.social-media {
  width: 100%;
  display: flex;
  align-content: flex-end;
  width: 20%;
  min-width: 100px;
  max-width: 100px;
  justify-content: space-between;
  margin-top: 5px;
}

}