/* Join Us
------------------------------- */
.join {
    display: block;
    width: 60%;
    min-width: 150px;
    max-width: 350px;
    margin: 30px auto;
    padding: 20px;
    cursor: pointer;
    border-radius: 12px 12px 12px 12px;
    border: none;
    background: var(--button-red);    
    box-shadow: 0 0 10px var(--shadow-color);
    text-decoration: none;
    color: var(--gray);
    font: 23px "Montserrat", arial;
}

.join:hover {
    background: var(--button-hover);
}

button a {
    text-decoration: none;
    color: var(--gray);
    font: 23px "Montserrat", arial;
}


/* Buy now
------------------------------- */
.buy-now {
  grid-column: 1;
  grid-row: 5;
  display: block;
  margin: 20px auto 0px auto;
  cursor: pointer;
  border-radius: 12px 12px 12px 12px;
  border: none;
  background: var(--button-red);    
  box-shadow: 0 0 10px var(--shadow-color);
  width: 70%;
  min-width: 80px;
  max-width: 350px;
  height: 40px;
  align-items: center;
  color: var(--gray);
  font-family: "Montserrat", arial;
  font-size: 0.8rem;
  align-items: center;
}

.buy-now:hover {
  background: var(--button-hover);
}

.button-text {
  text-decoration: none;
}


/* Checkout 
------------------------------- */
.checkout-button {
  grid-column: 1;
  grid-row: 10;
  display: block;
  margin: 20px auto 0px auto;
  cursor: pointer;
  border-radius: 12px 12px 12px 12px;
  border: none;
  background: var(--button-red);    
  box-shadow: 0 0 10px var(--shadow-color);
  width: 70%;
  min-width: 80px;
  max-width: 350px;
  height: 40px;
  align-items: center;
  color: var(--gray);
  font-family: "Montserrat", arial;
  font-size: 0.8rem;
  align-items: center;
}

.checkout-button:hover {
  background: var(--button-hover);
  
}

.checkout-button:focus {
  background: var(--button-success);  
}


/* Sign Up 
------------------------------- */
.sign-up-button {
  margin: 30px auto 30px auto;
  cursor: pointer;
  border-radius: 12px 12px 12px 12px;
  border: none;
  background: var(--button-red);    
  box-shadow: 0 0 10px var(--shadow-color);
  width: 70%;
  min-width: 80px;
  max-width: 350px;
  height: 40px;
  align-items: center;
  color: var(--gray);
  font-family: "Montserrat", arial;
  font-size: 0.8rem;
  align-items: center;
}

.sign-up-button:hover {
  
  background: var(--button-hover);
}

.sign-up-button:disabled {
  background: gray;
  border: var(--red) solid 1px;
  cursor: default;
}

/* Clear cart
------------------------------- */
#clear-cart {
  width: 20%;
  font-size: 1rem;  
  padding: 10px;
  grid-row: 25;
  display: none;
}

/* Put on Sale 
------------------------------- */
.put-on-sale-button {
  margin: 40px auto 20px auto;
  cursor: pointer;
  border-radius: 12px 12px 12px 12px;
  border: none;
  background: var(--button-red);    
  box-shadow: 0 0 10px var(--shadow-color);
  width: 70%;
  min-width: 80px;
  max-width: 350px;
  height: 45px;
  align-items: center;
  color: var(--gray);
  font-family: "Montserrat", arial;
  font-size: 0.8rem;
  align-items: center;
}

.put-on-sale-button:hover {
  background: var(--button-hover);
}


/* Toggle Switch for settings 
------------------------------- */
.switch {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0;
  background-color: var(--red);
  opacity: 36%;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--red);
  opacity: 100%;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--red);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle {
    display: flex;
    width: 80%;
}


/* Heart Icon 
------------------------------- */
.heart-icon {
  font-size: 2rem;
  padding: 0px 15px;
  color: var(--red);
  display: flex;
}

/* #favorite {
  display: none;
} */

/* .favorite-2 {
  display: none;
} */

/* .heart{
  z-index: 1;
} */

.heart-full {
  display: none;
  
}

/* #favorite:checked ~ .heart-full {
  display: block;
  position: absolute;
} */


/* Animations 
------------------------------- */
@keyframes scroll-in {
  0% {left: -100%;}
  100% {left: 0%;}
}


@keyframes carousel {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  } 
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}