.join {
    margin: 20 auto 10 auto;
    border-radius: 12px 12px 12px 12px;
    border: none;
    background: linear-gradient(#7d0712, #3f0409);
    font: 23px "Montserrat", arial;
    font-weight: lighter;
    width: 270px;
    height: 70px;
    color:  #d9d7d7;
}