:root {
  --red: #7d0712;
  --background: radial-gradient(#023373, #011a3a);
  --gray: #d9d7d7;
  --font-size-p: 1.2rem;
}

body {
  width: 100%;
  background: radial-gradient(#023373, #011a3a);
  
}

main {
  width: 100%;
  }

header {
  width: 100%;
  text-align: center;
}

footer {
  width: 85%;
  margin-top: 25px;
  margin-left: 125px;
  border-top: solid #d9d7d7;
  border-width: thin;
  text-align: left;
  }

.logo {
  width: 105%;
  margin: 10px auto 0 auto;
}

.ctr-panel {
  display: flex;
  width: 92.5%;
  justify-content: flex-end;  
}

.prof-name {
  width: 9%;
  min-width: 140px;
  height: 20px;
  background:  #d9d7d7;
  margin: 18px 10px 0px;
  border-radius: 50px 50px 50px 50px;
  padding-bottom: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  color: #7d0712
}

.prof-pic {
  margin-right: 3px;
}

.mes-pic {
  margin-right: 5px;
}
.current {
  text-decoration: underline;
  font-weight: bold;
}

nav {
  width: 85%;
  min-width: 1050px;
  background-color: #d9d7d7;
  border-radius: 50px 50px 50px 50px;
  margin: 0 125px 10px auto;  
}

nav li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  display: inline-block;
  padding-right: 100px;
}

nav a {
  text-decoration: none;
  color: #7d0712;
}

p {
  width: 90%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: #d9d7d7;
  font-weight: 300;
  margin-left: 125px;
}

footer ul {
  padding-left: 0%;
}

footer li { 
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 30px;
  
}

footer a {
  text-decoration: none;
  color: #d9d7d7;
}
