:root {
  --red: #7d0712;
  --background: radial-gradient(#023373, #011a3a);
  --gray: #d9d7d7;
  --font-size-p: 1.2rem;
}

body {
  width: 100%;
  background: radial-gradient(#023373, #011a3a);
}

header {
  width: 100%;
  display: flex;
}

.logo {
  width: 500px;
  margin: 15px auto;
}

.current {
  text-decoration: underline;
  font-weight: bold;
}

nav {
  background-color: #d9d7d7;
  border-radius: 50px 50px 50px 50px;
  margin: 380px auto 30px auto;
}

nav li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  display: inline-block;
  padding-right: 100px;
}

nav a {
  text-decoration: none;
  color: #7d0712;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: #d9d7d7;
  font-weight: 300;
}

footer li {
  display: inline-block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 30px;
}

footer a {
  text-decoration: none;
  color: #d9d7d7;
}
