/* -- Profile page --*/
.profile-page {
    width: 90%;
    background-color: var(--gray);
    margin: 30px auto;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 15px;
  }
  
  .profile-page h1 {
    width: 80%;
    margin: 10px auto 0px auto;
    min-width: 0px;
    max-width: 110px;
    text-align: center;
    padding-top: 10px;
    border-bottom: solid 2px var(--red);
    color: var(--blue);
    font-size: 1.4rem;
  }
  
  .profile-page div {
    display: flex;
    width: 80%;
    padding: 10px 0px 0px 40px;
  }
  
  .profile-page h2 {
    font-size: 1.1rem;
    font-weight: 350;
  }
  
  .prof-pic-3{
    margin-right: 10px;
    border: solid 2px var(--red);
    border-radius: 50%;
    width: 43px;
    height: 43px;
  }
  
  .profile-page-form {
    width: 80%;
    display: grid;
    text-align: left;
    margin: 0px auto 10px auto;
    padding-bottom: 10px;
  }
  
  .profile-page label {
    color: var(--blue);
    padding: 10px 0px 3px 3px;
    font-size: 0.7rem;
  }
  
  .profile-page input {
    display: block;
    height: 30px;
    box-shadow: 0px 0px 2px #707070;
    border: solid 1px var(--red);
    border-radius: 7px;
  }