/* ---------------------------------- Global Secondary Styles ---------------------------------- */

/* -- Assassin's Creed: Valhalla -- */
.ac-val-carousel {
  width: 90%;
  display: flex;
  margin: 20px auto 15px auto;
  min-width: 200px;
  max-width: 400px;
}


/* -- Ghost of Tsushima -- */
.ghost-carousel {
  width: 90%;
  display: flex;
  margin: 20px auto 15px auto;
  min-width: 200px;
  max-width: 400px;
}

.ghost-vertical {
  display: flex;
  margin: 0px auto 40px auto;
}





/* -- Sell-Game --*/
.sell-game {
  width: 90%;
  background-color: var(--gray);
  margin: 20px auto 50px auto;
  border-radius: 10px 10px 10px 10px;
}

.sell-game h1 {
  width: 80%;
  margin: 10px auto 0px auto;
  min-width: 50px;
  max-width: 200px;
  text-align: center;
  padding-top: 10px;
  border-bottom: solid 2px var(--red);
  color: var(--blue);
  font-size: 1.4rem;
}

.sell-game p {
  color: var(--blue);
}

.sell-game span {
  font-size: 1rem;
  font-weight: 450;;
}

.sell-game-form {
  width: 80%;
  display: grid;
  text-align: left;
  margin: 0px auto 10px auto;
  padding-bottom: 10px;
}

.sell-game-form label {
  color: var(--blue);
  padding: 10px 0px 3px 3px;
  font-size: 0.7rem;
}

.sell-game-form select, .sell-game-form textarea, .sell-game-form input:not(.file) {
  display: block;
  height: 30px;
  box-shadow: 0px 0px 2px #707070;
  border: solid 1px var(--red);
  border-radius: 7px;
}

.put-on-sale-button {
  margin: 40px auto 20px auto;
  cursor: pointer;
  border-radius: 12px 12px 12px 12px;
  border: none;
  background: var(--button-red);    
  box-shadow: 0 0 10px var(--shadow-color);
  width: 70%;
  min-width: 80px;
  max-width: 350px;
  height: 45px;
  align-items: center;
  color: var(--gray);
  font-family: "Montserrat", arial;
  font-size: 0.8rem;
  align-items: center;
}

.put-on-sale-button:hover {
  background: var(--button-hover);
}
/*--------------------------------------------------------------*/



/* -- Create Account --*/
.create-account {
  width: 90%;
  background-color: var(--gray);
  margin: 20px auto 50px auto;
  border-radius: 10px 10px 10px 10px;
}

.create-account h1 {
  width: 80%;
  margin: 10px auto 0px auto;
  min-width: 0px;
  max-width: 250px;
  text-align: center;
  padding-top: 10px;
  border-bottom: solid 2px var(--red);
  color: var(--blue);
  font-size: 1.4rem;
}

.create-account p {
  color: var(--blue);
}

.create-account span {
  font-size: 1rem;
  font-weight: 450;;
}

.create-account-form {
  width: 80%;
  background-color: var(--gray);
  border: none;
  display: grid;
  text-align: left;
  margin: 0px auto 10px auto;
  padding-bottom: 10px;
}

.create-account label:not(.checkbox-2-label) {
  color: var(--blue);
  padding: 10px 0px 3px 3px;
  font-size: 0.7rem;
}

.create-account-form input:not(.checkbox-2) {
  display: block;
  height: 30px;
  box-shadow: 0px 0px 2px #707070;
  border: solid 1px var(--red);
  border-radius: 7px;
}

.checkbox-2-div {
  padding-top: 10px;
  font-size: 0.7rem;
}

.sign-up-button {
  margin: 30px auto 30px auto;
  cursor: pointer;
  border-radius: 12px 12px 12px 12px;
  border: none;
  background: var(--button-red);    
  box-shadow: 0 0 10px var(--shadow-color);
  width: 70%;
  min-width: 80px;
  max-width: 350px;
  height: 40px;
  align-items: center;
  color: var(--gray);
  font-family: "Montserrat", arial;
  font-size: 0.8rem;
  align-items: center;
}

.sign-up-button:hover {
  background: var(--button-hover);
}
/*--------------------------------------------------------------*/



/* -- Profile page --*/
.profile-page {
  width: 90%;
  background-color: var(--gray);
  margin: 30px auto;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 15px;
}

.profile-page h1 {
  width: 80%;
  margin: 10px auto 0px auto;
  min-width: 0px;
  max-width: 110px;
  text-align: center;
  padding-top: 10px;
  border-bottom: solid 2px var(--red);
  color: var(--blue);
  font-size: 1.4rem;
}

.profile-page div {
  display: flex;
  width: 80%;
  padding: 10px 0px 0px 40px;
}

.profile-page h2 {
  font-size: 1.1rem;
  font-weight: 350;
}

.prof-pic-3{
  margin-right: 10px;
  border: solid 2px var(--red);
  border-radius: 50%;
  width: 43px;
  height: 43px;
}

.profile-page-form {
  width: 80%;
  display: grid;
  text-align: left;
  margin: 0px auto 10px auto;
  padding-bottom: 10px;
}

.profile-page label {
  color: var(--blue);
  padding: 10px 0px 3px 3px;
  font-size: 0.7rem;
}

.profile-page input {
  display: block;
  height: 30px;
  box-shadow: 0px 0px 2px #707070;
  border: solid 1px var(--red);
  border-radius: 7px;
}
/*--------------------------------------------------------------*/







/* -- Settings --*/
.settings {
  width: 90%;
  background-color: var(--gray);
  margin: 40px auto;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 15px;
}

.settings h1 {
  width: 40%;
  margin: 10px auto 25px auto;
  min-width: 0px;
  max-width: 250px;
  text-align: center;
  padding-top: 10px;
  border-bottom: solid 2px var(--red);
  color: var(--blue);
  font-size: 1.4rem;
  }

  .settings p {
    color: var(--blue);
    font-weight: 400;
    display: inline-block;
    margin-top: 0px;
  }

  .language {
    display: grid;
    grid-template-columns: 25% 75%;
    color: var(--blue);
  }

  .radio-language {
    grid-column: 2 / 3;
  }

  .language p {
    grid-column: 1;
    grid-row: 1;
  }
/*--------------------------------------------------------------*/