.cb4 {
    display: flex;
}

.cb4-img{
    width: 50%;
    margin-left: 125px;
    margin-top: 20px;
}

.cb4-tit {
    position: absolute;
    left: 870px;
    top: 550px;
    border-bottom: solid  #d9d7d7;
    border-width: thin;
    color: #d9d7d7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

.cb4-des {
    position: absolute;
    left: 745px;
    top: 600px;
}