/* -- Settings --*/
.settings {
    width: 90%;
    background-color: var(--gray);
    margin: 40px auto;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 15px;
    }
  
.settings h1 {
    width: 40%;
    margin: 10px auto 25px auto;
    min-width: 0px;
    max-width: 250px;
    text-align: center;
    padding-top: 10px;
    border-bottom: solid 2px var(--red);
    color: var(--blue);
    font-size: 1.4rem;
    }
  
.settings p {
    color: var(--blue);
    font-weight: 400;
    display: inline-block;
    margin-top: 0px;
    }
  
.language {
    display: grid;
    grid-template-columns: 25% 75%;
    color: var(--blue);
    }
  
.radio-language {
    grid-column: 2 / 3;
    }
  
.language p {
    grid-column: 1;
    grid-row: 1;
    }